* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #2c3e50, #34495e, #2c3e50);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
}

h2 {
    text-align: center;
    color: #ecf0f1;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ecf0f1;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #7f8c8d;
    outline: none;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #7f8c8d;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #d9dfde;
    font-size: 12px;
}

button {
    width: 100%;
    background: #576562;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ecf0f1;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16a085;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
    margin-bottom: 20px;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
